.mainFlexContainer {
  justify-content: space-between;
}

.flexMaximizer {
  height: 100vh;
  align-items: center;
  padding-bottom: 0px;
}

.cardContainer {
  padding-bottom: 0px;
}

.cardStyle {
  height: 100%;
  border-radius: 0px;
}

.cardFooter {
  text-align: center;
}

.cardInfo {
  font-weight: normal;
}
